@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background: rgb(175, 175, 175);
}

.App {
  text-align: center;
  background-color: rgb(175, 175, 175);
}

.header {
  color: rgb(37, 105, 252);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-size: 30px;
  background-color: rgb(175, 175, 175);
}

.chart {
  opacity: 0.6;
}


.chart.title {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  @apply
  mt-1
  block
  w-full
  py-2
  px-3
  bg-white
  rounded-md
  focus:outline-none
  focus:ring-blue-500
  sm:text-sm
}

.form-input {
  color: rgb(0, 0, 0);
}

.dateof {
  font-style: italic;
  background-color: rgb(175, 175, 175);
  font-weight: bold;
  color: black;

}

.input-group {
  /* box-shadow: 5px 6px 8px hwb(0 84% 15%); */
  box-shadow: 5px 6px 8px #2569fc;

}

.submit-btn {
  /* box-shadow: 4px 6px 8px hwb(0 84% 15%); */
  box-shadow: 4px 6px 8px #2569fc;
}

.submit-btn:hover {
  background-color: white;
}
